.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
}

.query-interface {
  margin: 20px auto;
  max-width: 800px;
}

textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

.results {
  margin-top: 20px;
  text-align: left;
}

.error {
  color: red;
}



/*Style survol lien Documentation*/
nav a:hover {
  color: #61dafb;
}

/*---- Style pour le footer ----*/
footer {
  position: 'absolute';
  bottom: 0;
  width: '100%';
  background-color: '#282c34';
  color: 'white';
  text-align: 'center';
  padding: '10px 0';
  font-size: '0.9rem';
}

/*--- Style pour image eglise acceuil ---*/
#imgEglise {
  width: 100%; /* Largeur fixe */
  height: 300px; /* Hauteur fixe pour recadrer */
  object-fit: cover; /* Recadre l'image sans déformer */
  overflow: hidden; /* Assure que l'image reste dans ses limites */
  display: block; /* S'assurer qu'il se comporte comme un bloc */
}
